[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
psycopg2 = "*"
pillow = "*"
python-dotenv = "*"
django-tinymce = "*"
six = "*"
paystack-api = "*"
redis = "*"
weasyprint = "==52.4"
celery = "*"
django-heroku = "*"
flower = "*"
django-3-jet = {file = "https://github.com/Barukimang/django-jet/archive/dev.zip"}
django-extensions = "*"
django-filter = "*"
feedparser = "*"
werkzeug = "*"
pyopenssl = "*"
django-cloudinary-storage = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
