{% load static %}
<!-- primary slider -->
<div id="primary-slider" class="splide">
    <div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">
				<img src="{% static 'img/orie_bg_1.jpg' %}" alt="">
			</li>
			<li class="splide__slide">
				<img src="{% static 'img/orie_bg_2.jpg' %}" alt="">
			</li>
			<li class="splide__slide">
				<img src="{% static 'img/orie_bg_3.jpg' %}" alt="">
			</li>
            <li class="splide__slide">
				<img src="{% static 'img/cr_1.jpg' %}" alt="">
			</li>
            <li class="splide__slide">
				<img src="{% static 'img/cr_2.jpg' %}" alt="">
			</li>
            <li class="splide__slide">
				<img src="{% static 'img/cr_3.jpg' %}" alt="">
			</li>
		</ul>
	</div>
</div>