<div class="modal fade" id="reviewModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Write a review</div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="bg-grey">
                        <div class="text-center pt-2">
                            Ratings:
                            <div id="full-stars" class="d-inline text-center">
                                <div class="rating-group">
                                    <label for="id_rating_0" class="rating__label">
                                        <i class="rating__icon rating__icon--star fas fa-star"></i>
                                    </label>
                                    <input type="radio" class="rating__input" name="ratings" id="id_rating_0" value="1" required checked>
                                    <label for="id_rating_1" class="rating__label">
                                        <i class="rating__icon rating__icon--star fas fa-star"></i>
                                    </label>
                                    <input type="radio" class="rating__input" name="ratings" id="id_rating_1" value="2" required>
                                    <label for="id_rating_2" class="rating__label">
                                        <i class="rating__icon rating__icon--star fas fa-star"></i>
                                    </label>
                                    <input type="radio" class="rating__input" name="ratings" id="id_rating_2" value="3" required>
                                    <label for="id_rating_3" class="rating__label">
                                        <i class="rating__icon rating__icon--star fas fa-star"></i>
                                    </label>
                                    <input type="radio" class="rating__input" name="ratings" id="id_rating_3" value="4" required>
                                    <label for="id_rating_4" class="rating__label">
                                        <i class="rating__icon rating__icon--star fas fa-star"></i>
                                    </label>
                                    <input type="radio" class="rating__input" name="ratings" id="id_rating_4" value="5" required>
                                </div>
                            </div>
{#                            {{ review_form.ratings.0 }}#}
{#                            {{ review_form.ratings.1 }}#}
{#                            {{ review_form.ratings.2 }}#}
{#                            {{ review_form.ratings.3 }}#}
{#                            {{ review_form.ratings.4 }}#}
                        </div>
                        <hr class="m-0">
                        <div class="input-field text-center p-2">
{#                            <textarea name="comment" id="" cols="40" rows="6" class="form-control shadow px-2"></textarea>#}
                            {{ review_form.comment }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>