{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"
          content="ecommerce website dealing with variety of consumable products ranging from electronics,
           groceries, accessories e.t.c and also real estate services">
    <meta name="author" content="orie admin">
    <meta property="og:title" content="{% if title %} {{ title }} {% else %} Orie {% endif %}">
    <meta property="og:type" content="ecommerce website">
    <meta property="og:image" content="{% static 'img/orie_bg_1.jpg' %}">
    <meta property="og:description"
          content="ecommerce website dealing with variety of consumable products ranging from electronics,
           groceries, accessories e.t.c and also real estate services">
    <link rel="icon" type="image/svg+xml" href="{% static 'img/orie_svg_1.svg' %}">
    <link rel="icon" href="{% static 'img/orie_bg_1.ico' %}">
    {% block css %}
        {% if debug %}
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'splide/css/splide.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/all.css' %}">
            <link rel="stylesheet" href="{% static 'css/main.css' %}">
        {% else %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
        {% endif %}
    {% endblock %}
    {% if title %}
        <title>Orie | {{ title }}</title>
    {% else %}
        <title>Orie | {% block title %}{{ title }}{% endblock %}</title>
    {% endif %}
</head>
<body>

{% include 'partials/_navbar.html' %}
{% include 'partials/_admin_menubar.html' %}
{% include 'partials/_messages.html' %}

<div class="container-fluid mt-3">
    {% block content %}
    {% endblock %}
</div>

{% include 'partials/_pagination.html' %}
{% include 'partials/_footer.html' %}

{% block javascript %}
    {% if debug %}
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'splide/js/splide.min.js' %}"></script>
    {% else %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    {% endif %}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
{#<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>#}
</body>
</html>