{% extends 'base.html' %}

{% block content %}
    <div class="card shadow-custom col-lg-5 mx-auto mb-3">
        <h3 class="py-3 text-center text-grey">
            <strong>Password Changed Successfully</strong>
        </h3>
        <p class="text-center">
            {% if request.user.is_merchant %}
                <a href="{% url 'accounts:merchants-profile' %}" class="btn text-primary text-decoration-none">
                    <i class="fas fa-arrow-left"></i> <strong>Back to profile</strong>
                </a>
            {% else %}
                <a href="{% url 'accounts:customers-profile' %}" class="btn text-primary text-decoration-none">
                    <i class="fas fa-arrow-left"></i> <strong>Back to profile</strong>
                </a>
            {% endif %}
        </p>
    </div>
{% endblock %}