{% if request.user.is_authenticated and request.user.is_superuser %}
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a href="{% url 'accounts:merchants-list' %}" class="nav-link ">All Merchants</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'accounts:customers-list' %}" class="nav-link">All Customers</a>
        </li>
        <li class="nav-item">
            <a href="/orieng-admin/" class="nav-link">
                <i class="fas fa-user-shield"></i> Admin Panel
            </a>
        </li>
    </ul>
{% endif %}