{% autoescape off %}
    <p>
        You are receiving this email because you requested a password reset for your account at {{ site_name }}.
        Please click on this link to reset your password.
    </p>

    <div class="row">
        <div class="col">
            <a href="{{ protocol }}://{{ domain }}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}" class="btn btn-danger btn-block">
                Verify Account
            </a>
        </div>
    </div>
    <p>Your user name is {{ user.get_username }}</p>
{% endautoescape %}