{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="card shadow-custom col-lg-5 mx-auto mb-3 mt-3 pb-4">
        {% if validlink %}
            <h3 class="text-grey text-center py-3">
                <strong>Password Reset Confirm</strong>
            </h3>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-warning btn-block">
                    <strong>Reset</strong>
                </button>
            </form>
        {% else %}
            <h3 class="text-grey text-center py-3">
                <strong>Password Reset Confirm Failed</strong>
            </h3>
            <h5 class="text-grey text-center py-3">
                <strong>Invalid Link</strong>
            </h5>
            <p class="text-center text-danger">
                <i class="fas fa-sad-tear fa-3x"></i>
            </p>
        {% endif %}
    </div>
{% endblock %}