{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="card shadow-custom border-0 col-lg-5 mx-auto mb-3 pb-4">
        <h3 class="py-2 text-grey text-center">
            <strong>Change Password</strong>
        </h3>
        <div class="row justify-content-center mb-5">
            <img src="{{ request.user.profile.image.url }}" alt="{{ request.user.username }}" class="rounded-circle" width="200" height="200">
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-warning btn-block">
                <strong>Change Password</strong>
            </button>
        </form>
    </div>
{% endblock %}