{% load humanize %}
<html>
<head>
    <title>Invoice</title>
</head>
<body>
    <div>
        <h2 class="text-center">
            <strong>Orieng Invoice</strong>
        </h2>
    </div>
    <div>
        <span class="h3 muted">
            <strong>Orieng Stores</strong>
        </span>
        <span class="float-right">
            <strong>Order #{{ order.id }}</strong>
        </span>
    </div>
    <div class="mt-3">
        Created: {{ order.created|date }}
    </div>
    <hr>
    <div id="container">
        <div class="item mt-2">
            <div>
                <strong>Orieng</strong>
            </div>
            Email: Orieng@gmail.com <br>
            Website: www.Orieng.com <br>
            Contact: +234809876457 <br>
            <address>Address: 23, Taiwo Street, Ogun State</address>
        </div>
        <div class="item mt-2">
            <div class="font-weight-bolder">
                <strong>Customer</strong>
            </div>
            Name: {{ order.first_name }} {{ order.last_name }} <br>
            Email: {{ order.email }} <br>
            Contact: {{ order.contact }} <br>
            Address: {{ order.address }} <br>
            Postal Code: {{ order.zip_code }} <br>
            City: {{ order.city }} <br>
            State: {{ order.state }} <br>
        </div>
    </div>
    <hr>
    <h3>Your Order:</h3>
    <table class="table mt-3">
        <thead>
        <tr>
            <th>Product</th>
            <th class="text-right">Price</th>
            <th class="text-right">Quantity</th>
            <th class="text-right">Price Total</th>
        </tr>
        </thead>
        <tbody>
            {% for item in order.items.all %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td class="num text-right">&num;{{ item.price|intcomma }}</td>
                    <td class="num text-right">{{ item.quantity }}&times;</td>
                    <td class="num text-right">&num;{{ item.get_cost|intcomma }}</td>
                </tr>
            {% endfor %}
            <tr class="total">
                <td colspan="3">
                    <strong>
                        {% if order.coupon %}
                            Total ({{ order.discount }}% Discount included):
                        {% else %}
                            Total:
                        {% endif %}
                    </strong>
                </td>
                <td class="num text-right text-success">
                    <strong>&num;{{ order.get_total_cost|floatformat:2|intcomma }}</strong>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <span class="{% if order.paid %} paid {% else %} pending {% endif %}">
        {% if order.paid %} Paid {% else %} Pending Payment {% endif %}
    </span>
</body>
</html>