{% extends 'base.html' %}

{% block content %}
    <div class="card shadow-custom border-0 col-lg-6 mx-auto py-3 my-5">
        <h3 class="text-center text-grey mb-3">
            <strong>Message Sent!</strong>
        </h3>
        <p class="text-center text-success">
            <span class="fas fa-check-circle fa-4x"></span>
        </p>
        <p class="text-grey text-center">
            Your message has been sent. We will get back to you as soon as possible.
        </p>
    </div>
{% endblock %}